.Footer {
  color: white;
  position: absolute;
  width: 100%;
  // height: 3.49%;
  // dar un padding que ocupe eso en vez de dar un height
  left: 0px;
  bottom: 0px;
  background: #2e0039;

  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    margin: 0.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
