.Footer {
  color: white;
  width: 100%;
  background: #2e0039;

  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    margin: 0.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
